<h1>Workout Table</h1>

	<!-- Add New Data Row -->

		<form action="/addrow" method="get">
			<td><input type="text" name="name" required></td>
			<td><input type="number" name="rep"></td>
			<td><input type="number" name="weight"></td>
			<td><input type="date" name="date"></td>
			<td><input type="number" name="measure" min="0" max="1"></td>
			<td colspan="2"><input type="submit" value="Add Row"/></td>
		</form>

	
<table>

	<!-- Header Row -->
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>Measure(lbs=1/kg=0)</th>
		<th colspan="2">Action</th>
	</tr>
	

	
	<!-- The Data Table -->
	{{#each results}}
		<tr id="row_{{this.id}}">
			<td>{{this.name}}</td>
			<td>{{this.rep}}</td>
			<td>{{this.weight}}</td>
			<td>{{this.date}}</td>
			<td>{{this.measure}}</td>
			
			<!-- Delete Button -->
			<form action="/delete" method="get">
				<input type="hidden" name="id" value={{this.id}}>
				<td><input type="submit" value="Delete"/></td>
			</form>
			
			<!-- Edit Button -->
			<form action="/edit" method="get">
				<input type="hidden" name="id" value={{this.id}}>
				<td><input type="submit" value="Edit"/></td>
			</form>
		</tr>
	{{/each}}

</table>

