<h1>Workout Table</h1>

	
<table>

	<!-- Header Row -->
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>Measure(lbs=1/kg=0)</th>
		<th colspan="2">Action</th>
	</tr>
	

	
	<!-- The Data Table -->
	{{#each results}}
		<tr id="row_{{this.id}}">
			<td>{{this.name}}</td>
			<td>{{this.rep}}</td>
			<td>{{this.weight}}</td>
			<td>{{this.date}}</td>
			<td>{{this.measure}}</td>
			
			<!-- Delete Button -->
			<form action="/delete" method="get">
				<input type="hidden" name="id" value={{this.id}}>
				<td><input type="submit" value="Delete"/></td>
			</form>
			
			<!-- Edit Button -->
			<form action="/edit" method="get">
				<input type="hidden" name="id" value={{this.id}}>
				<td><input type="submit" value="Edit"/></td>
			</form>
		</tr>
	{{/each}}

</table>

