<h1>Update this Record</h1>

<table>

	<tr>
		<th></th>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>Measure (lbs=1/kg=0)</th>
		<th>Action</th>
	</tr>
	
	<tr>
		<form action="/update" method="get">
			<td>Updated</td>
			<td><input type="text" name="name" required value={{rowToEdit.name}}></td>
			<td><input type="number" name="rep" value={{rowToEdit.rep}}></td>
			<td><input type="number" name="weight" value={{rowToEdit.weight}}></td>
			<td><input type="date" name="date" value={{rowToEdit.date}}></td>
			<td><input type="number" name="measure" min="0" max="1" value={{rowToEdit.measure}}></td>
			<td>
				<input type="hidden" name="id" value={{rowToEdit.id}}>
				<input type="submit" value="Update"/>
			</td>
		</form>
	</tr>
	
	<!-- Original Record -->
	<tr>
		<td>Original</td>
		<td>{{rowToEdit.name}}</td>
		<td>{{rowToEdit.rep}}</td>
		<td>{{rowToEdit.weight}}</td>
		<td>{{rowToEdit.date}}</td>
		<td>{{rowToEdit.measure}}</td>
	</tr>


</table>

