<h1>Update this Record</h1>

<table>

	<tr>
		<th></th>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>Measure (lbs=1/kg=0)</th>
		<th>Action</th>
	</tr>
	
	<tr>
		<form action="/update" method="get">
			<td>Updated</td>
			<td><input type="text" name="name" required value={{row2Edit.name}}></td>
			<td><input type="number" name="rep" value={{row2Edit.rep}}></td>
			<td><input type="number" name="weight" value={{row2Edit.weight}}></td>
			<td><input type="date" name="date" value={{row2Edit.date}}></td>
			<td><input type="number" name="measure" min="0" max="1" value={{row2Edit.measure}}></td>
			<td>
				<input type="hidden" name="id" value={{row2Edit.id}}>
				<input type="submit" value="Update"/>
			</td>
		</form>
	</tr>
	
	<!-- Original Record -->
	<tr>
		<td>Original</td>
		<td>{{row2Edit.name}}</td>
		<td>{{row2Edit.rep}}</td>
		<td>{{row2Edit.weight}}</td>
		<td>{{row2Edit.date}}</td>
		<td>{{row2Edit.measure}}</td>
	</tr>


</table>

